<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Онлайн OCR converter</title>
  <link rel="stylesheet" href="../static/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
</head>

<body>
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <a href="#">
            <img src="../static/img/ocr.jpg" alt="OCR" class="logo-image">
          </a>
        </div>
        <!-- /.col-md-6 -->

      </div>
    </div>
    <!-- /.container -->
  </header>

  <section class="hero">
    <div class="container">
      <h1 class="hero-title" >Распознавание текста (OCR)</h1>
      <p class="hero-description">Преобразование отсканированных документов в редактируемый формат txt</p>
    </div>
  </section>

  <section class="block">
    <div class="container">
      <div class="converter-wrapper">
        <h3 class="converter-title">Загрузите файлы для распознавания или перетащите их на эту страницу</h3>
        <form action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data">
          <input type="file" id="upload-file" hidden="hidden">
          <button class="button" id="converter-button">Загрузить</button>
        </form>
        <span id="upload-text">Файл не загружен</span>
        <button class="button converter-button-download">Скачать</button>
      </div>

    </div>

  </section>

  <footer class="footer">
    <div class="container">
      <div class="row py-5">
        <div class="col-md-6 mb-5 mb-md-0">
          <div class="social">
            Мой вк: <a href="https://vk.com/" class="social-link">
              <img src="../static/img/vk.png" alt="vk">
            </a>
          </div>
        </div>
        <!-- /.col-md-6 -->
      </div>
    </div>
    <!-- /.container -->
  </footer>
  <script src="../static/js/main.js"></script>
</body>

</html>